$primary: #3f51b5;
$light: #757de8;
$dark: #002984;
$text: #fff;
$secondary-light: #ffffcf;
$secondary: #fff59d;
$secondary-dark: #cbc26d;
$secondary-text: #000;

* {
  scroll-behavior: smooth;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

img {
  max-width: 100%;
}

nav a {
  color: #000000;
  padding: 1rem;
  display: inline-block;
}

.content {
  padding: 1rem;
}

body {
  margin: 0;
}

.keyboard-app {
  margin-top: 10px;
  margin: 0 auto;

  .keyboard-filters {
    text-align: center;
  }

  .rangeSlider {
    width: 150px;
    margin: 10px;
  }

  .ui.input,.keyboard-app .ui.buttons {
    margin: 5px;
    input {
      height: 100%
    }
  }

  .app-header {
    height: 500px;
    background-image: url('/images/mittens.jpg');
    background-position: 50% 30%;
    background-size: cover;
    padding: 20px;

    .logo {
      margin-top: 150px;
      width: 80%;
      height: 200px;
    }

    .header-title {
      margin: 10px;
      background-color: #fff;
      border-radius: 5px;
      color: #000;
    }
  }
  .card {
    width: 30%;
    .layout svg {
      width: 90%;
      max-width: 900px;
      margin: 0 auto;
      g rect {
        fill: $primary;
      }
      :hover g rect {
        fill: $light;
      }
    }
  }
}
